body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    font-family: Roboto, sans-serif;
}

.link-list{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

a, .subtext {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;;
}

.header, .footer{
    background: #1F2937;
    color: #F9FAF8;
    align-items: center;
    flex: 1 1 50%;
}

.header{
    
}

.header-top {
    display: flex;
    align-items: center;
    padding: 16px;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
}

.footer {
    display: flex;
    flex: 0 0 64px;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.image {
    display: flex;
    flex: 1 1 50%;
    object-fit: contain;
    min-width: 100px;
}

.header-center {
    display: flex;
    justify-content: space-around;
    flex: 1;
    width: 75vw;
}

.header-subtext{
    flex-direction: column;
    flex:1;
    padding: 64px;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.button {
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    font-weight: 900;
    width: 200px;
    height: 50px;
    padding: 8px;
    outline: 4px solid white;
    border-radius: .5rem;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin: 16px;
}

ul.info {
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 16px;
}

.info-image {
    flex-basis: 100px;
    outline: 8px solid #3882F6;
    border-radius: .05rem;
}

li.info {
    min-width: 100px;
    max-width: 300px;
    padding: 16px;
    justify-content: space-around;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 32px;
    width: 100vw;
    align-items: center;
}

.quote-body {
    width: 75vw;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.quote-source {
    font-weight: 900;
}

.call-box {
    background-color: #3882F6;
    width: 75vw;
    margin: 32px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: .5rem;
}

.call-text {
    color: #F9FAF8;
    margin: 16px;
}

.call-to-action-title {
    font-weight: 700;
    font-size: large;
}